# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
neoforge/runs
# macOS

.DS_Store
.AppleDouble
.LSOverride

# Kotlin compiler working directory
.kotlin
prog1.cpp

# Ignore unnecessary source code
src_mc26.2_snap5/

# Ignore other unnecessary files
downloads/